body{
    background-color: rgb(98, 96, 96);
    padding: 1.5em
}

.container{
    display: flex;
    background-color: rgb(185, 180, 180);
    max-width: 25em;
    aspect-ratio: 1/0.9;
    flex-direction: column;
    border-radius: 1em;
    margin: auto;
}

.inputs{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 1.1em;
}

.button_row{
    display: flex;
    flex: 1 1 0;
}

.button_row > button{
    flex: 1 1 0;
    margin: .22em;
    border-radius: .4em;
    font-size: large;
}

.screen{
    background-color: rgb(233, 228, 228);
    border-radius: .5em;
    border: 1.5px black solid;
    min-height: 23%;
    margin: 1.4em 1.4em .25em;
    display: flex;
    flex-direction: column;
    padding: 1.1em;
    align-items: flex-end;

}

.screen > div{
    background-color: rgb(233, 228, 228);
    font-size: 2.1em;
    height: 50%;
    word-wrap: break-word;
    word-break: break-all;
    text-align: right;
}

.screen > .top_display{
    font-size: 1.5em;
    align-items: start;
}

.active{
    background-color: lightblue;
}

.pressed{
    background-color: rgb(137, 206, 229);
}

footer{
    font-family: system-ui, -apple-system, Roboto, sans-serif;
    font-size: large;
    text-align: center;
    padding: 1em;
    color: rgb(233, 228, 228);;
}

a{
    text-decoration: none;
    color: rgb(233, 228, 228);
}