body{
    display: flex;
    background-color: rgb(98, 96, 96);
    justify-content: center;
}

.container{
    display: flex;
    background-color: rgb(185, 180, 180);
    max-width: 400px;
    aspect-ratio: 1/1;
    flex-direction: column;
    border-radius: 10px;
    flex: 1 1 0;
}

.display{
    
}

.inputs{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 20px;
}

.button_row{
    display: flex;
    flex: 1 1 0;
}

.button_row > button{
    flex: 1 1 0;
    margin: 5px;
    border-radius: 5px;
}

.screen{
    background-color: rgb(233, 228, 228);
    border-radius: 10px;
    border: 1.5px black solid;
    height: 30%;
    margin: 20px 20px 10px;
    display: flex;
}

.display{
    background-color: rgb(233, 228, 228);
    font-size: 2.25em;
    display: flex;
    align-items: flex-end;
    margin: 16px;
    overflow-wrap: anywhere;
    overflow: hidden;
}